{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "indent": ["OFF", 4],
    "no-console": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0,
    "no-continue": 0,
    "no-mixed-operators": 0,
    "no-constant-condition": 0,
    "no-loop-func": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0
  }
}