{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "indent": ["OFF", 4],
    "no-console": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0
  }
}